{% extends 'accounts/components/base.html' %}
{% load static %}
{% block content %}

 <section class="mbr-gallery cid-rbaMy1tJOl" once="shops" id="shop6-2" data-sortbtn="btn-primary">
        <div>
            <div class="mbr-shop" shop__showsidebar="">
              
                <div class="row col-md-12">
                    <div class="col-xl-2 sidebar">
                        {% include 'accounts/components/sidebar.html' %}
                    </div>
                    <div class="wrapper-shop-items col-xl-10">
                        delivery form
                    </div>
                    
                </div>
               
            </div>
        </div>

    </section>
    {% endblock %}  