{% extends 'accounts/components/base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            {% for item in items %}
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img src="/media/{{item.image}}" class="card-img-top" alt="{{item.image}}" style="height:190px">
                    <div class="card-body">
                        <h5 class="card-title">{{item.name}}</h5>
                        <p class="card-text">{{item.description}}</p>
                        <a href="{{item.id}}" class="btn btn-success">Buy Now @{{item.price}}</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    

{% endblock %}