{% extends 'accounts/components/base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQFDTTkJykhUrcZLcDZ71uv3EU40crXwQPYHg&usqp=CAU" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Chicken Noodles</h5>
                        <p class="card-text">Spicy soft boneless chicken pieces with slowly cooked noodles.</p>
                        <a href="#" class="btn btn-success">Buy Now @65</a>
                    </div>
                    </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTEv8DbRp2y5AQpfE1cUJbvmUqdyQGHcTYfjQ&usqp=CAU" class="card-img-top" alt="..." style="height:190px">
                    <div class="card-body">
                        <h5 class="card-title">Some Item</h5>
                        <p class="card-text">Spicy soft boneless chicken pieces with slowly cooked noodles.</p>
                        <a href="#" class="btn btn-success">Buy Now @65</a>
                    </div>
                    </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQT8Uk7DIWNQ_CCNtXRYA32NMmOPknXKxENag&usqp=CAU" class="card-img-top" alt="..." style="height:190px">
                    <div class="card-body">
                        <h5 class="card-title">Some Item</h5>
                        <p class="card-text">Spicy soft boneless chicken pieces with slowly cooked noodles.</p>
                        <a href="#" class="btn btn-success">Buy Now @65</a>
                    </div>
                    </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRyWNBplF80ibHPnLVzMv6ZnDw4854H1_Hz-g&usqp=CAU" class="card-img-top" alt="..." style="height:190px">
                    <div class="card-body">
                        <h5 class="card-title">Some Item</h5>
                        <p class="card-text">Spicy soft boneless chicken pieces with slowly cooked noodles.</p>
                        <a href="#" class="btn btn-success">Buy Now @65</a>
                    </div>
                    </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTkrbwTg8jPUfUQL52R72FctsFjfJELIg4yhQ&usqp=CAU" class="card-img-top" alt="..." style="height:190px">
                    <div class="card-body">
                        <h5 class="card-title">Some Item</h5>
                        <p class="card-text">Spicy soft boneless chicken pieces with slowly cooked noodles.</p>
                        <a href="#" class="btn btn-success">Buy Now @65</a>
                    </div>
                    </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS-mv25hnRiZ8Sb7d8AWJ2WE23ff_Kn3cUmmw&usqp=CAU" class="card-img-top" alt="..." style="height:190px">
                    <div class="card-body">
                        <h5 class="card-title">Some Item</h5>
                        <p class="card-text">Spicy soft boneless chicken pieces with slowly cooked noodles.</p>
                        <a href="#" class="btn btn-success">Buy Now @65</a>
                    </div>
                    </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQjZW9JQGKNpRkucmpfYs4Bgv2ysML-ExHfbQ&usqp=CAU" class="card-img-top" alt="..." style="height:190px">
                    <div class="card-body">
                        <h5 class="card-title">Some Item</h5>
                        <p class="card-text">Spicy soft boneless chicken pieces with slowly cooked noodles.</p>
                        <a href="#" class="btn btn-success">Buy Now @65</a>
                    </div>
                    </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ0cZRj8a80QxjslRCY8O5R0TZGOiKJqNWvkw&usqp=CAU" class="card-img-top" alt="..." style="height:190px">
                    <div class="card-body">
                        <h5 class="card-title">Some Item</h5>
                        <p class="card-text">Spicy soft boneless chicken pieces with slowly cooked noodles.</p>
                        <a href="#" class="btn btn-success">Buy Now @65</a>
                    </div>
                    </div>
            </div>
        </div>
    </div>
    

{% endblock %}