{% extends 'accounts/components/base.html' %}


{% block content %}
<section class="mbr-gallery cid-rbaMy1tJOl" once="shops" id="shop6-2" data-sortbtn="btn-primary">
    <div>
        <div class="mbr-shop" shop__showsidebar="">

            <div class="row col-md-12">
                <div class="col-xl-2 sidebar">
                    {% include 'accounts/components/sidebar.html' %}
                </div>
                <div class="col-xl-1"></div>
                <div class="col-xl-9">
                <div class="wrapper-shop-items ">
                    {% for message in messages %}
                                        <div class="alert alert-success alert-dismissible" role="alert">
                                          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                          </button>
                                          {{ message }}
                                        </div>
                                      {% endfor %}
                    <div class="table-responsive">
                        <table class="table no-wrap">
                            <thead>
                                <tr>
                                    <th class="border-top-0">No.</th>
                                    <th class="border-top-0">Date and Time</th>
                                    <th class="border-top-0">Product </th>
                                    <th class="border-top-0">Address</th>
                                    <th class="border-top-0">Payment Status</th>
                                    <th class="border-top-0">Order </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for order in orders %}
                                <tr>
                                    <td>
                                        <num>
                                    </td>
                                    <td class="txt-oflo">{{order.date}}</td>
                                    <td>Name: {{order.cake_list.name}} <br> Price: ₹ {{order.cake_list.price}} <br>
                                        <img src="/media/{{order.cake_list.image}}" style="height: 150px; width:175px">
                                    </td>
                                    <td class="txt-oflo">{{order.first_name}} &nbsp; {{order.last_name}} <br>
                                        {{order.house_name}}<br>{{order.location}}<br>Pin:{{order.pin}} <br> Phone:
                                        {{order.phone}} <br> Email: {{order.email}}
                                    </td>
                                    {% if order.status == 'Pending' %}
                                    <td><span class="text-info" style="font-weight: bolder;font-size: larger;">₹ {{order.cake_list.price}} <br> {{order.status}}</span></td>
                                    {% else %}
                                    <td><span  style="font-weight: bolder;font-size: larger;color: green;">₹ {{order.cake_list.price}} <br> {{order.status}}</span></td>
                                    {% endif %}
                                    {% if order.order_status == 'True' %}
                                    <td><a class="btn btn-danger" href="{% url 'accounts:cancel-order' order.id %}">Cancel Order</a></td>
                                    {% else %}
                                    <td><span  style="font-weight: bolder;font-size: larger;color:red;">Order Cancelled</td>
                                    {% endif %}
                        
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            </div>

        </div>
    </div>

</section>

{% endblock %}