{% load static %}


<div class="sidebar-background"></div>
<div class="sidebar-block container ">
    <h4 class="sidebar-title mbr-fonts-style mbr-text display-4" style="font-weight:600; font-size: larger;">Hi  {{user.first_name}}&nbsp;{{user.last_name}}</h4>
    
    <div class=" mbr-section-btn pt-5" ><a class="btn btn-sm btn-info" href="{% url 'accounts:my-orders' %}">My Orders</a></div>
    <div class=" mbr-section-btn " ><a class="btn btn-sm btn-info" href="{% url 'accounts:messages' %}">Message admin</a>
    </div>
    <div class=" mbr-section-btn">
         <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle btn btn-sm btn-info" >categories</a>
    <ul class="collapse list-unstyled" id="pageSubmenu">
        <li >
            <a  class=" btn btn-sm btn-success"  href="{% url 'accounts:homepage' %}">All</a>
        </li>
        <li>
            <a  class=" btn btn-sm btn-success" href="{% url 'accounts:filter' 'null' %}">Null</a>
        </li>
        <li>
            <a class=" btn btn-sm btn-success" href="{% url 'accounts:filter' 'sample1' %}">Sample 1</a>
        </li>
        <li>
            <a class=" btn btn-sm btn-success" href="{% url 'accounts:filter' 'sample2' %}">Sample 2</a>
        </li>
    </ul>
    </div>
   
</div>
